{% extends "layout.html" %}

{% block content %}
  <h3>{{page.title}} <small> (<a href="{{page.title}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{author._id.toString()}}">{{author.name.first + " " + author.name.last}}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div class="page-body">{{page.content}}</div>
  <hr/>
  <div class="container">
	  <a href="{{urlTitle}}/edit" class="btn btn-primary">edit this page</a>
	  <a href="{{urlTitle}}/delete" class="btn btn-danger">delete this page</a>
  </div>
  <hr/>git 
{% endblock %}